<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Todo App</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
         rel="stylesheet" />
      <link rel="stylesheet" href="/css/index.css" />
   </head>
   <body>
      <div class="wrapper">
         <h1>To-do</h1>
         <h2>your tasks</h2>
         <ul id="tasks"> </ul>
         <form action="POST">
            <label for="noteInput">ADD TODOS</label>
            <div>
               <input type="text" name="note input" id="noteInput" />
               <button>Add</button>
            </div>
         </form>
      </div>
      <script defer src="/js/index.js"></script>
   </body>
</html>
